<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <title>Bem-Vindos!!</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
		<form class="tabela1">
			<fieldset>
        <h1>Cadastro De Residentes</h1>
        <br><br><br>
      <div class="linha">
        <legend>Data</legend>
      </div>
          <br>
      <input type="date" class="form-control ifont" id="date" required>
          <br>
			<div class="linha">
				<legend>Nome</legend>
			</div>
          <br>
			<input type="text" class="form-control ifont" id="name" required>
          <br>
        <div class="linha">
          <legend>Gênero</legend>
        </div>
        <br>
        <select name="genero" class="form-control ifont" required>
          <option>Masculino</option>
          <option>Feminino</option>
          <option>Outros</option>
        </select>
        <br>
			<div class="linha">
				<legend>Data de Nascimento</legend>
			</div>
          <br>
			<input type="date" class="form-control ifont" id="datanasc" required>
		      <br>
      <div class="linha">
        <legend>Endereço</legend>
      </div>
          <br>
      <input type="text" class="form-control ifont" id="endereco" required>
          <br>
      <div class="linha">
        <legend>Aposentado</legend>
      </div>
          <br>
      <div class="radio">
        <div class="radiosim radio1">
          <input type="radio" value="sim" id="apossim" name="apos"  class="form-control ifont" required>
          <label class="ifont" for="sim">Sim</label>
        </div>
        <div class="radionao radio1">
          <input type="radio" value="nao" id="aposnao" name="apos" class="form-control ifont" required>
          <label class="ifont" for="nao">Não</label>
        </div>
      </div>
        <br>
        <div class="linha">
          <legend>Empréstimo no nome</legend>
        </div>
            <br>
        <div class="radio">
          <div class="radiosim radio1">
            <input type="radio" value="sim2" id="emprsim" name="empr"  class="form-control ifont" required>
            <label class="ifont" for="sim2">Sim</label>
          </div>
          <div class="radionao radio1">
            <input type="radio" value="nao2" id="emprnao" name="empr" class="form-control ifont" required>
            <label class="ifont" for="nao2">Não</label>
          </div>
        </div>
          <br>
        <div class="linha">
          <legend>Quem fez o empréstimo ?</legend>
          <br>
          <input type="text" class="form-control ifont">
        </div>
          <br>
        <div class="linha">
          <legend>Grau de Dependência</legend>
        </div>
          <br>
        <div class="radio">
          <div class="radiograu1 radio1">
            <input type="radio" value="grau1" id="grau1" name="grau"  class="form-control ifont" required>
            <label class="ifont" for="grau1">Grau I</label>
          </div>
          <div class="radiograu2 radio1">
            <input type="radio" value="grau2" id="grau2" name="grau" class="form-control ifont" required>
            <label class="ifont" for="grau2">Grau II</label>
          </div>
          <div class="radiograu3 radio1">
            <input type="radio" value="grau3" id="grau3" name="grau" class="form-control ifont" required>
            <label class="ifont" for="grau3">Grau III</label>
          </div>
          <div class="radiograu4 radio1">
            <input type="radio" value="grau4" id="grau4" name="grau" class="form-control ifont" required>
            <label class="ifont" for="grau4">Indivíduo Autônomo</label>
          </div>
        </div>
          <br>
        <div class="linha">
          <legend>Tem alguma deficiência ?</legend>
        </div>
          <br>
        <div class="radio">
          <div class="radiosim radio1">
            <input type="radio" value="sim3" id="deficsim" name="defic"  class="form-control ifont" required>
            <label class="ifont" for="sim3">Sim</label>
          </div>
          <div class="radionao radio1">
            <input type="radio" value="nao3" id="deficnao" name="defic" class="form-control ifont" required>
            <label class="ifont" for="nao3">Não</label>
          </div>
        </div>
        <br>
        <div class="linha">
          <legend>Qual / Quais ?</legend>
          <input type="text" class="form-control ifont" id="defqual">
        </div>
        <br>
        <div class="linha">
          <legend>Tem alguma doença ?</legend>
        </div>
          <br>
        <div class="radio">
          <div class="radiosim radio1">
            <input type="radio" value="sim4" id="doesim" name="doe"  class="form-control ifont" required>
            <label class="ifont" for="sim4">Sim</label>
          </div>
          <div class="radionao radio1">
            <input type="radio" value="nao4" id="doenao" name="doe" class="form-control ifont" required>
            <label class="ifont" for="nao4">Não</label>
          </div>
        </div>
        <br>
        <div class="linha">
          <legend>Qual / Quais ?</legend>
          <input type="text" class="form-control ifont" id="doequal">
        </div>
        <br>
        <div class="linha">
          <legend>Toma remédios controlados ?</legend>
        </div>
          <br>
        <div class="radio">
          <div class="radiosim radio1">
            <input type="radio" value="sim5" id="remsim" name="rem"  class="form-control ifont" required>
            <label class="ifont" for="sim5">Sim</label>
          </div>
          <div class="radionao radio1">
            <input type="radio" value="nao5" id="remnao" name="rem" class="form-control ifont" required>
            <label class="ifont" for="nao5">Não</label>
          </div>
        </div>
        <br>
        <div class="linha">
          <legend>Qual / Quais ?</legend>
          <input type="text" class="form-control ifont" id="remqual">
        </div>
        <br>
        <div class="linha">
          <legend>Motivo da procura pelo acolhimento</legend>
        </div>
        <br>
        <textarea cols="55" rows="5" class="form-control ifont" id="motivaco" required></textarea>
        <br>
        <div class="linha">
          <legend>Nome da pessoa que procurou a instituição</legend>
        </div>
        <br>
        <input type="text" class="form-control ifont" id="nomeprocura" required>
        <br>
        <div class="linha">
          <legend>Grau de parentesco</legend>
        </div>
        <br>
        <input type="text" class="form-control ifont" id="grauparente" required>
        <br>
        <div class="linha">
          <legend>Endereço</legend>
        </div>
        <br>
        <input type="text" class="form-control ifont" id="endprocura" required>
        <br>
        <div class="linha">
          <legend>Telefone</legend>
        </div>
        <br>
        <input type="text" class="form-control ifont" id="telprocura" required>
        <br>
      <div class="botoes">
          <button type="submit" id="insert" class="btn btn-success botao ">Inserir</button>
			    <button type="submit" id="clean" class="btn btn-success botao ">Limpar</button>
      </div>
			  </fieldset>
      </form>
      </div>
      </div>
    </body>
</html>
