<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">;
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <title>Bem-Vindos!!</title>
</head>
<body>
  <header>
    <ul class="list">
      <li><a href="/#cadastro" class="center">Cadastro</a></li>
              <li><a href="html/controle.html" class="center">Controle Financeiro</a></li>
              <li><a href="html/estoque.html" class="center">Estoque</a></li>
              <li><a href="html/visitas.html" class="center">Visitas</a></li>
              <li><a href="html/doacoes.html" class="center">Doações</a></li>
       <li><a style="right: 0px; position: fixed;">Vila Vicentina</a></li>
      </ul>
</header>

  <main>

     <h1>Bem Vindo a Vila Vicentina!!</h1>
     <article>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, et excepturi veniam nobis, aut perferendis voluptas consectetur omnis cupiditate libero nesciunt numquam molestiae at ipsum modi corporis, eligendi harum neque?Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum architecto accusamus nobis fuga sequi ullam modi reiciendis ab. Magni suscipit nisi illum beatae doloribus? Possimus illum nobis vero cum ea.</p>
     </article>
  </main>
  <div class="image">
    <img src="assets/old man.webp" alt="homem velho">
  </div>
  <div class="circle"></div>
</body>
</html>
