@charset "UTF=8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: 'poppins';
}

body{
  background-color: white;
}

.dp-menu{
  box-shadow: 8px 3px 10px rgba(0, 0, 105, 0.288);
  border-radius: 7px;

}

.list {
  list-style-type: none;
  background-color: #953C3C;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 3px;
}

.lia{
  display: block;
  letter-spacing: 1px;
  color: #F0d3CE;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
}

.guia::after{
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background: #F0d3CE;
  left: 0;
  bottom: 10px;
  transform: scale(0,1.5);
  transition: 0.3s;
  border-radius: 50px;
}
.guia:hover::after{
  transform: scale(1,1);
}

.dp-menu ul {
    list-style-type: none;
    padding: 0;
}

.dp-menu ul {
    background-color: #953c3c;
    z-index: 2;
    border-radius: 5px;
}

.dp-menu ul li {
    display: inline;
    position: relative;
}

/*sub menu*/
.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;

}

.dp-menu ul li:hover ul {
    display: block;

}

.dp-menu ul ul {
    width: 150px;
}

.dp-menu ul ul li a {
    display: block;
}

.modal-dialog{
    width: 100%;
    margin:0 auto;
    position: absolute;
    top: 30%;
    left: 30%;
    
  }

  .modal-dialog .modal-content{
    width: 100%;
    height: 150%;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
  }

  .modal-header{
    width: 100%;
    height: 55px;
    background-color: #953C3C;
  }
  .modal-header h5{
  font-size: 25px;
   color: #fff;
   margin:10%;
   font-weight: 600;
   font-family: 'Poppins';
  }

  .modal-footer{
    height: 35%;

  }

  .modal-footer button{
    margin: 10px;
  }

  .modal-footer .fechar{
    font-size: 20px;
    width: 18%;
    height: 35px;
    font-weight: 500;
  }

  .modal-footer .salvar{
    font-size: 20px;
    width: 18%;
    height: 35px;
    font-weight: 500;
    background: #953C3C;
  }

  .modal-body{
    padding: 10px;
    margin:10px;
    height: 305%;
  }

  .modal-body input{
    margin:5px;
  }

  .modal-body .DescCat{
    width: 85%;
    outline: none;
    border-color: #953C3C;
    font-size: 20px;
    line-height: 40px;
    border-radius: 10px;
  }
