<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <title>Vila Vicentina</title>
  </head>
  <body>
    <app-menu></app-menu>
    <main>
      <h1>Bem Vindo a Vila Vicentina!!</h1>
      <article>
        <p>
          <br>
          A Vila Vicentina Nossa Senhora Aparecida, Obra Unida à Sociedade São
          Vicente de Paulo, fundada em 30 de Julho de 1970. Tem por finalidade a
          prática da caridade Cristã no campo da Assistência Social e da
          promoção humana, visando especificamente:
        </p>
        <br>
        <p>
          A Vila Vicentina conta com 11 quartos com banheiro e capacidade para 2
          leitos, 1 quarto individual, refeitório, cozinha, lavanderia, capela,
          secretaria. Com a finalidade de abrigar idosos com 60 anos ou mais,
          que não dispõe de condições de permanecer com a família, em situação
          de abandono pela família, idosos que sofrem negligência.
        </p>
      </article>
    </main>
    <div class="image">
      <img src="assets/old man.webp" alt="homem velho" />
    </div>
    <div class="circle"></div>
  </body>
</html>
