<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
</head>
<body>
  <header>
    <ul class="list">
      <li><a routerLink="cadastro" class="center">Cadastro</a></li>
              <li><a href="html/controle.html" class="center">Controle Financeiro</a></li>
              <li><a href="html/estoque.html" class="center">Estoque</a></li>
              <li><a href="html/visitas.html" class="center">Visitas</a></li>
              <li><a href="html/doacoes.html" class="center">Doações</a></li>
       <li><a style="right: 0px; position: fixed;">Vila Vicentina</a></li>
      </ul>
</header>
</body>
</html>
