<div class="container">
  <h1 class="titulo">Movimento Verba Municipal</h1>

  <div class="subContainer">
    <div class="container-buttons">
      <div class="search-box">
        <button class="btn-search">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <input
          type="text"
          class="input-search"
          placeholder="Type to Search..."
        />
      </div>
      <button class="add" title="Adicionar">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <table>
      <thead>
        <tr>
          <th colspan="7" class="titulo_tabela">Verba Municipal</th>
        </tr>

        <tr>
          <th>Data</th>
          <th>Descrição</th>
          <th>Entradas</th>
          <th>Saídas</th>
          <th>Saldo</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>07/01/2022</td>
          <td>SALDO ANTERIOR</td>
          <td>71.59</td>
          <td>0</td>
          <td>71.59</td>
          <td class="edit">
            <button title="Editar">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
          <td class="delete">
            <button title="Excluir">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
          </td>
        </tr>

        <tr>
          <td>07/01/2022</td>
          <td>SALDO ANTERIOR</td>
          <td>71.59</td>
          <td>0</td>
          <td>71.59</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
