<app-menu></app-menu>
<div class="container">
  <h1 class="titulo">Quartos</h1>

  <div class="subContainer">
    <div class="container-buttons">
      <div class="search-box">
        <button class="btn-search">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <input
          type="text"
          class="input-search"
          placeholder="Digite para pesquisar..."
        />
      </div>
      <button
        class="add"
        title="Adicionar"
        data-bs-toggle="modal"
        data-bs-target="#quartosModal"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <table>
      <thead>
        <tr>
          <th colspan="5" class="titulo_tabela">Quartos</th>
        </tr>

        <tr>
          <th>Data</th>
          <th>Nome do Residente</th>
          <th>Número do Quarto</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody *ngIf="quartos && quartos">
        <tr *ngFor="let quartosl of quartos">
          <td>{{quartosl.data}}</td>
          <td>{{quartosl.nome}}</td>
          <td>{{quartosl.quantidade}}</td>
          <td class="edit">
            <button
              title="Editar" (click)="Alterar(quartosl, quartosModal)"
              data-bs-toggle="modal"
              data-bs-target="#quartosModal"
            >
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
          <td class="delete">
            <button
              title="Excluir" (click)="excluir(quartosl, delquartosModal)"
              data-bs-toggle="modal"
              data-bs-target="#delquartosModal"
            >
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal Cadastro de Quartos -->
    <div
      class="modal fade" #editar
      id="quartosModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cadastrar Quarto</h5>
          </div>
          <div class="modal-body">
            <legend>Data</legend>
            <br />
            <input
            [(ngModel)]="data"
              type="date"
              class="form-control ifont"
              id="quartdate"
              required
            />
            <br />
            <legend>Nome do Residente</legend>
            <br />
            <input
            [(ngModel)]="nome"
              type="text"
              class="form-control ifont"
              id="quartnomeres"
              required
            />
            <br />
            <legend>Número do Quarto</legend>
            <br />
            <input
            [(ngModel)]="numeroQuartos"
            ngModel
              type="number"
              class="form-control ifont"
              id="quartnum"
              required
            />
            <br />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Fechar
            </button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal" (click)="adicionarQuartos()">Salvar</button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal" (click)="alterarQuartos(editar)">Editar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Editar Quartos -->


    <!-- Modal Deletar Quartos -->
    <div
      class="modal fade" #confirm
      id="delquartosModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Deletar Quarto</h5>
          </div>
          <div class="modal-body">
            <legend>Você tem certeza que deseja deletar?</legend>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Não
            </button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal" (click)="excluirQuartos(confirm)">Sim</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
