<app-menu></app-menu>
<div class="container">
  <h1 class="titulo">Controle de Residentes</h1>

  <div class="subContainer">
    <div class="container-buttons">
      <div class="search-box">
        <button class="btn-search">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <input
          type="text"
          class="input-search"
          placeholder="Pesquisar pelo nome..."
          [(ngModel)] = "searchText"
        />
      </div>
      <button
        class="add"
        title="Adicionar"
        data-bs-toggle="modal"
        data-bs-target="#residentesModal"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <table>
      <thead>
        <tr>
          <th colspan="10" class="titulo_tabela">RESIDENTES</th>
        </tr>

        <tr>
          <th>Data de Registro</th>
          <th>Nome</th>
          
          <th>Gênero</th>
          <th>Data de Nascimento</th>
          <th>Endereço</th>
          <th>Aposentado</th>
        
        </tr>
      </thead>

      <tbody *ngIf="residente && residente">
        <tr *ngFor="let residentes  of residente | filter: searchText: 'nome'">
          <td>{{residentes.Dataregistro | date:'dd/MM/y'}}</td>
          <td>{{residentes.Nome}}</td>
          <td>{{residentes.genero}}</td>
          <td>{{residentes.dataNasc}}</td>
          <td>{{residentes.endereco}}</td>
          <td>{{residentes.aposentado}}</td>

      
          <td class="edit">
            <button
              title="Editar" (click)="Alterar(residentes, residentesModal)"
              data-bs-toggle="modal"
              data-bs-target="#residentesModal"
            >
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
          <td class="delete">
            <button
              title="Excluir" (click)="excluir(residentes, delresidentesModal)"
              data-bs-toggle="modal"
              data-bs-target="#delresidentesModal"
            >
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal Residentes -->
    <div
      class="modal fade" #editar
      id="residentesModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Cadastrar Fornecedor
            </h5>
          </div>
          <div class="modal-body">
            <legend>Data</legend>
            <br />
            <input
            [(ngModel)]="Dataregistro"
              type="date"
              class="form-control ifont"
              id="forndate"
              
            />
            <br />
            <legend>Nome</legend>
            <br />
            <input
            [(ngModel)]="nome"
              type="text"
              class="form-control ifont"
              id="fornnome"
              
            />
            <br />
            <legend>Gênero</legend>
            <br />
            <select name="forngenero" class="form-control ifont"   [(ngModel)]="genero"  >
              <option style="display: none"></option>
              <option>Masculino</option>
              <option>Feminino</option>
              <option>Outros</option>
            </select>
            <br />
            <legend>Data de Nascimento</legend>
            <br />
            <input
            [(ngModel)]="DataNasc"
              type="date"
              class="form-control ifont"
              id="forndatanasc"
              
            />
            <br />
            <legend>Endereço</legend>
            <br />
            <input
            [(ngModel)]="endereco"
              type="text"
              class="form-control ifont"
              id="fornendereco"
              
            />
            <br />
            <legend>Aposentado</legend>
            <br />
            <select name="fornaposentado" class="form-control ifont"  [(ngModel)]="aposentado"  >
              <option style="display: none"></option>
              <option>Sim</option>
              <option>Não</option>
            </select>
            <br />
            
            
            <br />
            <div class="modal-footer">
              <button
                type="button"
                class="fechar btn btn-danger"
                data-bs-dismiss="modal"
              >
                Fechar
              </button>
              <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal" (click)="adicionarResidente()">
                Salvar
              </button>
              <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal"  (click)="alterarResidente(editar)">
                Editar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal ver mais Residentes -->
   


    <!-- Modal deletar Residentes -->
    <div
      class="modal fade" #confirm
      id="delresidentesModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Deletar Residentes
            </h5>
          </div>
          <div class="modal-body">
            <legend>Você tem certeza que deseja deletar?</legend>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Não
            </button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal" (click)="excluirResidente(confirm)" >Sim</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
