<app-menu></app-menu>
<div class="container">
  <h1 class="titulo">Movimento Emenda Parlamentar</h1>

  <div class="subContainer">
    <div class="container-buttons">
      <div class="search-box">
        <button class="btn-search">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <input
          type="text"
          class="input-search"
          placeholder="Digite para pesquisar..."
        />
      </div>
      <button
        class="add"
        title="Adicionar"
        data-bs-toggle="modal"
        data-bs-target="#emenparlModal"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <table>
      <thead>
        <tr>
          <th colspan="7" class="titulo_tabela">Emenda Parlamentar</th>
        </tr>

        <tr>
          <th>Data</th>
          <th>Descrição</th>
          <th>Entradas</th>
          <th>Saídas</th>
          <th>Saldo</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="edit">
            <button
              title="Editar"
              data-bs-toggle="modal"
              data-bs-target="#editemenparlModal"
            >
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
          <td class="delete">
            <button
              title="Excluir"
              data-bs-toggle="modal"
              data-bs-target="#delemenparlModal"
            >
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal Emenda Parlamentar -->
    <div
      class="modal fade"
      id="emenparlModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Cadastrar Movimento de Emenda Parlamentar
            </h5>
          </div>
          <div class="modal-body">
            <legend>Data</legend>
            <br />
            <input
              type="date"
              class="form-control ifont"
              id="emenparldate"
              required
            />
            <br />
            <legend>Descrição</legend>
            <br />
            <textarea
              cols="55"
              rows="5"
              class="form-control ifont"
              id="emenparldesc"
              required
            ></textarea>
            <br />
            <legend>Entradas</legend>
            <br />
            <input
              type="number"
              class="form-control ifont"
              id="emenparlent"
              required
            />
            <br />
            <legend>Saídas</legend>
            <br />
            <input
              type="number"
              class="form-control ifont"
              id="emenparlsai"
              required
            />
            <br />
            <legend>Saldo</legend>
            <br />
            <input
              type="number"
              class="form-control ifont"
              id="emenparlsal"
              required
            />
            <br />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Fechar
            </button>
            <button type="button" class="salvar btn btn-success">Salvar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Editar Emenda Parlamentar -->
    <div
      class="modal fade"
      id="editemenparlModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Editar Movimento de Emenda Parlamentar
            </h5>
          </div>
          <div class="modal-body">
            <legend>Data</legend>
            <br />
            <input
              type="date"
              class="form-control ifont"
              id="emenparldate"
              required
            />
            <br />
            <legend>Descrição</legend>
            <br />
            <textarea
              cols="55"
              rows="5"
              class="form-control ifont"
              id="emenparldesc"
              required
            ></textarea>
            <br />
            <legend>Entradas</legend>
            <br />
            <input
              type="number"
              class="form-control ifont"
              id="emenparlent"
              required
            />
            <br />
            <legend>Saídas</legend>
            <br />
            <input
              type="number"
              class="form-control ifont"
              id="emenparlsai"
              required
            />
            <br />
            <legend>Saldo</legend>
            <br />
            <input
              type="number"
              class="form-control ifont"
              id="emenparlsal"
              required
            />
            <br />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Fechar
            </button>
            <button type="button" class="salvar btn btn-success">Salvar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Deletar Emenda Parlamentar -->
    <div
      class="modal fade"
      id="delemenparlModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Deletar Entrada de Emenda Parlamentar
            </h5>
          </div>
          <div class="modal-body">
            <legend>Você tem certeza que deseja deletar?</legend>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Não
            </button>
            <button type="button" class="salvar btn btn-success">Sim</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
