<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <nav class="dp-menu">
      <ul class="list">
        <li style="left: 5px; top: 2px; position: absolute; display: block">
          <a href=""><img src="assets\church.ico" /></a>
        </li>
        <li>
          <a class="guia lia">Cadastro</a>
          <ul>
            <li>
              <a href="tabela_residentes" class="guia lia">Residentes</a>
            </li>
            <li>
              <a href="tabela_quartos" class="guia lia">Quartos</a>
            </li>
            <li>
              <a href="tabela_doadores" class="guia lia">Doadores</a>
            </li>
            <li>
              <a href="tabela_fornecedores" class="guia lia">Fornecedores</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="guia lia">Movimentação Financeira</a>
          <ul>
            <li>
              <a href="tabela_caixa" class="guia lia">Caixa</a>
            </li>
            <li class="subconta">
              <a class="guia lia" style="cursor: default"
                >Conta
                <i
                  class="fa fa-arrow-right"
                  aria-hidden="true"
                  style="float: right"
                ></i
              ></a>
              <div class="submenuconta">
                <ul>
                  <li>
                    <a href="tabela_contacapital" class="guia lia"
                      >Conta Capital</a
                    >
                  </li>
                  <li>
                    <a href="tabela_contacorrente" class="guia lia"
                      >Conta Corrente</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="subemen">
              <a class="guia lia" style="cursor: default"
                >Emenda
                <i
                  class="fa fa-arrow-right"
                  aria-hidden="true"
                  style="float: right"
                ></i
              ></a>
              <div class="submenuemen">
                <ul>
                  <li>
                    <a href="tabela_emendaimpositiva" class="guia lia"
                      >Emenda Impositiva</a
                    >
                  </li>
                  <li>
                    <a href="tabela_emendaparlamentar" class="guia lia"
                      >Emenda Parlamentar</a
                    >
                  </li>
                </ul>
              </div>
            </li>
            <li class="subverb">
              <a class="guia lia" style="cursor: default"
                >Verba<i
                  class="fa fa-arrow-right"
                  aria-hidden="true"
                  style="padding-left: 50px"
                ></i
              ></a>
              <div class="submenuverb">
                <ul>
                  <li>
                    <a href="tabela_verbaestadual" class="guia lia"
                      >Verba Estadual</a
                    >
                  </li>
                  <li>
                    <a href="tabela_verbamunicipal" class="guia lia"
                      >Verba Municipal</a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a class="guia lia">Estoque</a>
          <ul>
            <li>
              <a href="tabela_entradadeproduto" class="guia lia"
                >Entrada de Produtos</a
              >
            </li>
            <li>
              <a href="tabela_saidadeproduto" class="guia lia"
                >Saída de Produtos</a
              >
            </li>
          </ul>
        </li>
        <li style="right: 5px; top: 9px; position: absolute; display: block">
        </li>
      </ul>
    </nav>
  </body>
</html>
