<div class="container">

  <h1 class="titulo"> Movimento Caixa e Banco</h1>

  <div class="buttons">
    <input type="button" value="Pesquisar" class="inputPesquisar">
    <input type="button" value="Adicionar" class="inputAdicionar">
  </div>

  <table>

    <thead>
      <tr>
        <th colspan="5" class="titulo_tabela">Caixa</th>
      </tr>
      <tr>
        <th>Data</th>
        <th>Descrição</th>
        <th>Entradas</th>
        <th>Saídas</th>
        <th>Saldo</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>7/01/2022</td>
        <td>SALDO ANTERIOR</td>
        <td>71.59</td>
        <td>0</td>
        <td>71.59</td>
      </tr>
      <tr>
        <td>7/01/2022</td>
        <td>SALDO ANTERIOR</td>
        <td>71.59</td>
        <td>0</td>
        <td>71.59</td>
      </tr>
      <tr>
        <td>7/01/2022</td>
        <td>SALDO ANTERIOR</td>
        <td>71.59</td>
        <td>0</td>
        <td>71.59</td>
      </tr>
      <tr>
        <td>7/01/2022</td>
        <td>SALDO ANTERIOR</td>
        <td>71.59</td>
        <td>0</td>
        <td>71.59</td>
      </tr>
    </tbody>

  </table>
</div>
