<app-menu></app-menu>
<div class="container">
  <h1 class="titulo">Movimento Verba Municipal</h1>

  <div class="subContainer">
    <div class="container-buttons">
      <div class="search-box">
        <button class="btn-search">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <input
          type="text"
          class="input-search"
          placeholder="Digite para pesquisar..."
        />
      </div>
      <button
        class="add"
        title="Adicionar"
        data-bs-toggle="modal"
        data-bs-target="#verbmunModal"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <table>
      <thead>
        <tr>
          <th colspan="7" class="titulo_tabela">Verba Municipal</th>
        </tr>

        <tr>
          <th>Data</th>
          <th>Descrição</th>
          <th>Entradas</th>
          <th>Saídas</th>
          <th>Saldo</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody *ngIf="verbamunicipal && verbamunicipal.length">
        <tr *ngFor="let verbamunicipall of verbamunicipal">
          <td>{{ verbamunicipall.data | date:'dd/MM/y'}}</td>
          <td>{{ verbamunicipall.description }}</td>
          <td>{{ verbamunicipall.entrada }}</td>
          <td>{{ verbamunicipall.saida }}</td>
          <td>{{ verbamunicipall.saida - verbamunicipall.entrada }}</td>
          <td class="edit">
            <button
              title="Editar"  (click)="Alterar(verbamunicipall, verbmunModal)"
              data-bs-toggle="modal"
              data-bs-target="#verbmunModal"
            >
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
          <td class="delete">
            <button
              title="Excluir"  (click)="excluir(verbamunicipall, delverbmunModal)"
              data-bs-toggle="modal"
              data-bs-target="#delverbmunModal"
            >
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal Verba Municipal -->
    <div
      class="modal fade" #editar
      id="verbmunModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Cadastrar Movimento de Verba Municipal
            </h5>
          </div>
          <div class="modal-body">
            <legend>Data</legend>
            <br />
            <input
            [(ngModel)]="data"
              type="date"
              class="form-control ifont"
              id="verbesdate"
              required
            />
            <br />
            <legend>Descrição</legend>
            <br />
            <textarea
            [(ngModel)]="description"
              cols="55"
              rows="5"
              class="form-control ifont"
              id="verbedesc"
              required
            ></textarea>
            <br />
            <legend>Entradas</legend>
            <br />
            <input
            [(ngModel)]="entrada"
              type="number"
              class="form-control ifont"
              id="verbesent"
              required
            />
            <br />
            <legend>Saídas</legend>
            <br />
            <input
            [(ngModel)]="saida"
              type="number"
              class="form-control ifont"
              id="verbessai"
              required
            />
            <br />
            <legend>Saldo</legend>
            <br />
            <input
            [(ngModel)]="valor"
              type="number"
              class="form-control ifont"
              id="verbessal"
              required
            />
            <br />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Fechar
            </button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal" (click)="adicionarVerba()">Salvar</button>
            <button (click)="alterarVerba(editar)">Editar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Editar Verba Municipal -->
    <div
      class="modal fade"
      id="editverbmunModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Editar Movimento de Verba Municipal
            </h5>
          </div>
          <div class="modal-body">
            <legend>Data</legend>
            <br />
            <input
              type="date"
              class="form-control ifont"
              id="verbmundate"
              required
            />
            <br />
            <legend>Descrição</legend>
            <br />
            <textarea
              cols="55"
              rows="5"
              class="form-control ifont"
              id="verbmundesc"
              required
            ></textarea>
            <br />
            <legend>Entradas</legend>
            <br />
            <input
              type="number"
              class="form-control ifont"
              id="verbmunent"
              required
            />
            <br />
            <legend>Saídas</legend>
            <br />
            <input
              type="number"
              class="form-control ifont"
              id="verbmunsai"
              required
            />
            <br />
            <legend>Saldo</legend>
            <br />
            <input
              type="number"
              class="form-control ifont"
              id="verbmunsal"
              required
            />
            <br />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Fechar
            </button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal">Salvar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Deletar Verba Municipal -->
    <div
      class="modal fade" #confirm
      id="delverbmunModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Deletar Entrada de Verba Municipal
            </h5>
          </div>
          <div class="modal-body">
            <legend>Você tem certeza que deseja deletar?</legend>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Não
            </button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal" (click)="excluirVerba(confirm)">Sim</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
