.aba {
  background-color: #B0C4DE;
  list-style-type: none;
  margin: 0;
  padding: 0; 
  overflow: hidden;
}
li{
	float: right;
}

li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  display: block;
  color: white;
  text-align: right;
  padding: 16px;
  text-decoration: none;
  border-radius: 20px;
  float: right;
} 

li a:hover {
  background-color: #95adcc;
  transition: 0.5s;
}  



