<div class="main-login">
  <div class="left-login">
      <h1> Vila Vicentina!! </h1>
      <img src="assets/vovo e sofa.svg" alt="">
  </div>

  <div class="right-login">
       <div class="card-login">
          <h1> Logar </h1>
          <div class="textfield">
             <label for="usuario">Usuário</label>
             <input type="text" name="usuario" placeholder="Usuário">
          </div>

          <div class="textfield">
              <label for="senha">Senha</label>
              <input type="password" name="senha" placeholder="Senha">
          </div>
          <button class="btn-login">Entrar</button>
       </div>
  </div>
</div>


