<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estoque</title>
</head>
<body>
  <div class="container">
    <div class="card-info">
      <div class="card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>
          <h3>Efermagem</h3>
          <p>Luvas etc...</p>
        </span>
      </div>
      <div class="card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>
          <h3>Alimentos</h3>
          <p>Alimentícios...</p>
        </span>
      </div>
      <div class="card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>
          <h3>Higiene</h3>
          <p>Produtos de limpeza etc...</p>
        </span>
      </div>
      <div class="card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>
          <h3>Doações</h3>
          <p>Produtos doados...</p>
        </span>
      </div>
    </div>
    <div class="vovozinha">
      <img src="assets\vovo e sofa.svg" alt="vovozinha">
    </div>
  </div>
  <div class="forms">
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
</body>
</html>
