<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estoque</title>
</head>
<body>
  <header>
    <ul class="list">
      <li><a routerLink="cadastro" class="center">Cadastro</a></li>
      <li><a routerLink="financeiro" class="center">Movimentação Financeira</a></li>
      <li><a routerLink="visitas" class="center">Visitas</a></li>
      <li><a routerLink="estoque" class="center">Estoque</a></li>
      <li><a routerLink="doacoes" class="center">Doações</a></li>
      <li><a style="right: 0px; position: fixed">Vila Vicentina</a></li>
    </ul>
  </header>
  <div class="card-info">
    <div class="card">
      <i class="fa fa-users" aria-hidden="true"></i>
      <span>
        <h3>1020</h3>
        <p>New Order</p>
      </span>
    </div>
    <div class="card">
      <i class="fa fa-users" aria-hidden="true"></i>
      <span>
        <h3>1020</h3>
        <p>New Order</p>
      </span>
    </div>
  </div>
</body>
</html>
