<app-menu></app-menu>
<div class="container">
  <h1 class="titulo">Saída de Produtos</h1>

  <div class="subContainer">
    <div class="container-buttons">
      <div class="search-box">
        <button class="btn-search">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <input
          type="text"
          class="input-search"
          placeholder="Digite para pesquisar..."
        />
      </div>
      <button
        class="add"
        title="Adicionar"
        data-bs-toggle="modal"
        data-bs-target="#saidaprodutosModal"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <table>
      <thead>
        <tr>
          <th colspan="7" class="titulo_tabela">Produtos</th>
        </tr>

        <tr>
          <th>Data</th>
          <th>Descrição</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody *ngIf="saidaproduto && saidaproduto.length">
        <tr *ngFor="let saidaprodutos of saidaproduto">
          <td>{{ saidaprodutos.data | date:'dd/MM/y' }}</td>
          <td>{{ saidaprodutos.description }}</td>
          <td
            class="edit"
            data-bs-toggle="modal"
            data-bs-target="#saidaprodutosModal"
          >
            <button title="Editar" (click)="Alterar(saidaprodutos, saidaprodutosmodal)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
          <td class="delete">
            <button
              title="Excluir" (click)="excluir(saidaprodutos, del)"
              data-bs-toggle="modal"
              data-bs-target="#del"
            >
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal Saída de produtos -->
    <div
      class="modal fade" #editar
      id="saidaprodutosModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Cadastrar Saída de Produtos
            </h5>
          </div>
          <div class="modal-body">
            <legend>Data</legend>
            <br />
            <input
            [(ngModel)]="data"
              type="date"
              class="form-control ifont"
              id="saiprodate"
              required
            />
            <br />
            <legend>Descrição</legend>
            <br />
            <textarea
              [(ngModel)]="desc"
              cols="55"
              rows="5"
              class="form-control ifont"
              id="saiprodesc"
              required
            ></textarea>
            <br />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Fechar
            </button>
            <button
              type="button"
              class="salvar btn btn-success" data-bs-dismiss="modal"
              (click)="adicionarSaidaProduto()"
            >
              Salvar
            </button>
            <button  class="salvar btn btn-success" (click)=" alterarSaidaProduto(editar)">

              Editar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Editar Saída de produtos -->
    <div
      class="modal fade"
      id="editsaidaprodutosModal" #confirm
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Editar Saída de Produto
            </h5>
          </div>
          <div class="modal-body">
            <legend>Data</legend>
            <br />
            <input
              type="date"
              class="form-control ifont"
              id="saiprodate"
              required
            />
            <br />
            <legend>Descrição</legend>
            <br />
            <textarea>
              cols="55"
              rows="5"
              class="form-control ifont"
              id="saiprodesc"
              required
            ></textarea>
            <br />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Fechar
            </button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal">Salvar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Deletar Saída de produtos -->
    <div
      class="modal fade"
      id="del" #confirm
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Deletar Saída de Produto
            </h5>
          </div>
          <div class="modal-body">
            <legend>Você tem certeza que deseja deletar?</legend>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Não
            </button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal"(click)="excluirSaidaProduto(confirm)">Sim</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
