<app-menu></app-menu>
<div class="container">
  <h1 class="titulo">Entrada de Produto</h1>

  <div class="subContainer">
    <div class="container-buttons">
      <div class="search-box">
        <button class="btn-search">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <input
          type="text"
          class="input-search"
          placeholder="Pesquisar pelo nome..."
          [(ngModel)] = "searchText"
        />
      </div>
      <button
        class="add"
        title="Adicionar"
        data-bs-toggle="modal"
        data-bs-target="#entradaprodutosModal"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <table>
      <thead>
        <tr>
          <th colspan="7" class="titulo_tabela">PRODUTOS</th>
        </tr>

        <tr>
          <th>Data</th>
          <th>Nome</th>
          <th>Quantidade</th>
          <th>Validade</th>
          <th>Categoria</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody *ngIf="entradaprodutos && entradaprodutos">
        <tr *ngFor="let entradaprodutosl of entradaprodutos | filter: searchText: 'nome'">
          <td>{{entradaprodutosl.data  | date:'dd/MM/y'}}</td>
          <td>{{entradaprodutosl.nome}}</td>
          <td>{{entradaprodutosl.quantidade}}</td>
          <td>{{entradaprodutosl.validade | date:'dd/MM/y'}}</td>
          <td>{{entradaprodutosl.categoria}}</td>
          <td class="edit">
            <button
              title="Editar"  (click)="Alterar(entradaprodutosl, entradaprodutosModal)"
              data-bs-toggle="modal"
              data-bs-target="#entradaprodutosModal"
            >
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
          <td
            class="delete"
            data-bs-toggle="modal"
            data-bs-target="#delentradaprodutosModal"
          >
            <button title="Excluir" (click)="excluir(entradaprodutosl, delentradaprodutosModal)">
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal Entrada de produto -->
    <div
      class="modal fade" #editar
      id="entradaprodutosModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Cadastrar Produto
            </h5>
          </div>
          <div class="modal-body">
            <legend>Data</legend>
            <br />
            <input
            [(ngModel)]="data"
              type="date"
              class="form-control ifont"
              id="enprodate"
              required
            />
            <br />
            <legend>Nome</legend>
            <br />
            <input
            [(ngModel)]="nome"
              type="text"
              class="form-control ifont"
              id="enpronome"
              required
            />
            <br />
            <legend>Quantidade</legend>
            <br />
            <input
            [(ngModel)]="quantidade"
              type="number"
              class="form-control ifont"
              id="enproquant"
              required
            />
            <br />
            <legend>Validade</legend>
            <br />
            <input
            [(ngModel)]="validade"
              type="date"
              class="form-control ifont"
              id="enprovalidade"
              required
            />
            <br />
            <legend>Categoria</legend>
            <br />
            <select name="enprocate" class="form-control ifont"  [(ngModel)]="categoria" required

             >
              <option>Enfermagem</option>
              <option>Alimentos</option>
              <option>Higiene</option>
              <option>Doações</option>
            </select>
            <br />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Fechar
            </button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal" (click)="adicionarEntrada()" >Salvar</button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal" (click)="alterarEntrada(editar)">Editar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Editar Entrada de produto -->
    <div
      class="modal fade"
      id="editentradaprodutosModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Produto</h5>
          </div>
          <div class="modal-body">
            <legend>Data</legend>
            <br />
            <input
              type="date"
              class="form-control ifont"
              id="enprodate"
              required
            />
            <br />
            <legend>Nome</legend>
            <br />
            <input
              type="text"
              class="form-control ifont"
              id="enpronome"
              required
            />
            <br />
            <legend>Quantidade</legend>
            <br />
            <input
              type="number"
              class="form-control ifont"
              id="enproquant"
              required
            />
            <br />
            <legend>Validade</legend>
            <br />
            <input
              type="date"
              class="form-control ifont"
              id="enprovalidade"
              required
            />
            <br />
            <legend>Categoria</legend>
            <br />
            <select name="enprocate" class="form-control ifont" required>
              <option>Enfermagem</option>
              <option>Alimentos</option>
              <option>Higiene</option>
              <option>Doações</option>
            </select>
            <br />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Fechar
            </button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal">Salvar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Deletar Entrada de produto -->
    <div
      class="modal fade" #confirm
      id="delentradaprodutosModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Deletar Produto</h5>
          </div>
          <div class="modal-body">
            <legend>Você tem certeza que deseja deletar?</legend>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Não
            </button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal" (click)="excluirEntrada(confirm)">Sim</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
