<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
  <title>Financeiro</title>
</head>
<body>
  <div class="container">
  <table>
    <tbody>
    <tr>
    <td width="228">Nome</td>
    <td width="228">Idade</td>
    <td width="228">Estado Atual</td>
    </tr>

    <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    </tr>

    <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    </tr>

    <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    </tr>

    </tbody>
    </table>
    </div>
</body>
</html>
