<head>
    <title>Login</title>
</head>
<body>
    <main>
        <div>
            <form action="">

                <label for="name">
                    <span>Nome</span>
                    <input type="text" id="name" name="name">
                </label><br>
                <label for="email">
                    <span>E-mail</span>
                    <input type="email" name="email" id="email">
                </label><br>
                <label for="password">
                    <span>Senha</span>
                    <input type="password" id="password" name="password">
                </label><br>
                <input class="btn_enviar" type="submit" value="Sign Up">
            </form>
        </div>
    </main>
</body>