<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movimentação</title>
</head>
<body>
  <div class="container">
    <div class="card-info">
    <div class="card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>
          <h3>Caixa</h3>
          <p>.</p>
        </span>
      </div>
      <div class="card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>
          <h3>Conta Corrente</h3>
          <p>.</p>
        </span>
      </div>
      <div class="card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>
          <h3>Conta Capital</h3>
          <p>.</p>
        </span>
      </div>
      <div class="card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>
          <h3>Emenda Impositiva</h3>
          <p>.</p>
        </span>
      </div>
      <div class="card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>
          <h3>Verba Municipal</h3>
          <p>.</p>
        </span>
      </div>
      <div class="card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>
          <h3>Emenda Parlamentar</h3>
          <p>.</p>
        </span>
      </div>
    </div>
    <div class="vovozinha">
      <img src="assets\vovo e sofa.svg" alt="vovozinha">
    </div>
  </div>
</body>
</html>
