<app-menu></app-menu>
<div class="container">
  <h1 class="titulo">Controle de Doadores</h1>

  <div class="subContainer">
    <div class="container-buttons">
      <div class="search-box">
        <button class="btn-search">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <input
          type="text"
          class="input-search"
          placeholder="Pesquisar pelo nome..."
          [(ngModel)] = "searchText"
        />
      </div>
      <button
        class="add"
        title="Adicionar"
        data-bs-toggle="modal"
        data-bs-target="#doadoresModal"
      >
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <table>
      <thead>
        <tr>
          <th colspan="7" class="titulo_tabela">DOADORES</th>
        </tr>

        <tr>
          <th>Data</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Forma de Doação</th>
          <th>Valor de Doação</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody *ngIf="doadores && doadores.length">
        <tr *ngFor="let doadoress of doadores | filter: searchText: 'nome'">
          <td>{{ doadoress.data | date:'dd/MM/y'}}</td>
          <td>{{ doadoress.nome }}</td>
          <td>{{ doadoress.telefone | phone}}</td>
          <td>{{ doadoress.formaDoacao }}</td>
          <td>R${{ doadoress.valor }}</td>
          <td class="edit">
            <button
              title="Editar" (click)="Alterar(doadoress, doadoresModal)"
              data-bs-toggle="modal"
              data-bs-target="#doadoresModal"
            >
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
          <td class="delete">
            <button
              title="Excluir" (click)="excluir(doadoress, deldoadoresModal)"
              data-bs-toggle="modal"
              data-bs-target="#deldoadoresModal"
            >
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal Doadores-->
    <div
      class="modal fade" #editar
      id="doadoresModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cadastrar Doador</h5>
          </div>
          <div class="modal-body">
            <legend>Data</legend>
            <br />
            <input
            [(ngModel)]="data"
              type="date"
              class="form-control ifont"
              id="doadate"
              required
            />
            <br />
            <legend>Nome</legend>
            <br />
            <input
            [(ngModel)]="nome"
              type="text"
              class="form-control ifont"
              id="doanome"
              required
            />
            <br />
            <legend>Telefone</legend>
            <br />
            <input
            [(ngModel)]="telefone"
              type="text"
              class="form-control ifont"
              id="doatel"
              required
            />
            <br />
            <legend>Forma de Doação</legend>
            <br />
            <select name="doaforma" class="form-control ifont"  [(ngModel)]="formaDoacao" required>
              <option>Pix</option>
              <option>Boleto</option>
              <option>Dinheiro</option>
              <option>Cartão</option>
            </select>
            <br />
            <legend>Valor de Doação</legend>
            <br />
            <input
            [(ngModel)]="valor"
              type="number"
              class="form-control ifont"
              id="doaval"
              required
            />
            <br />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Fechar
            </button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal" (click)="adicionarDoador()">Salvar</button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal" (click)="alterarDoador(editar)">Editar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal deletar Doadores-->
    <div
      class="modal fade" #confirm
      id="deldoadoresModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Deletar Doador</h5>
          </div>
          <div class="modal-body">
            <legend>Você tem certeza que deseja deletar?</legend>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Não
            </button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal"  (click)="excluirDoador(confirm)">Sim</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal editar Doadores-->
    <div
      class="modal fade"
      id="editdoadoresModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Editar Doadores</h5>
          </div>
          <div class="modal-body">
            <legend>Data</legend>
            <br />
            <input
              type="date"
              class="form-control ifont"
              id="doadate"
              required
            />
            <br />
            <legend>Nome</legend>
            <br />
            <input
              type="text"
              class="form-control ifont"
              id="doanome"
              required
            />
            <br />
            <legend>Telefone</legend>
            <br />
            <input
              type="text"
              class="form-control ifont"
              id="doatel"
              required
            />
            <br />
            <legend>Forma de Doação</legend>
            <br />
            <select name="doaforma" class="form-control ifont" required>
              <option>Pix</option>
              <option>Boleto</option>
              <option>Dinheiro</option>
              <option>Cartão</option>
            </select>
            <br />
            <legend>Valor de Doação</legend>
            <br />
            <input
              type="number"
              class="form-control ifont"
              id="doaval"
              required
            />
            <br />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="fechar btn btn-danger"
              data-bs-dismiss="modal"
            >
              Fechar
            </button>
            <button type="button" class="salvar btn btn-success" data-bs-dismiss="modal" >Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
