<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estoque</title>
</head>
<body>
  <app-menu></app-menu>
  <div class="container">
    <div class="card-info">
      <div class="card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>
          <h3>Residentes</h3>
          <p>Tabela de Registro de Idosos</p>
        </span>
      </div>
      <div class="card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>
          <h3>Quartos</h3>
          <p>Quartos Registrados</p>
        </span>
      </div>
      <div class="card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>
          <h3>Produtos</h3>
          <p>Produtos Registrados</p>
        </span>
      </div>
      <div class="card">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span>
          <h3>Doadores</h3>
          <p>Doadores </p>
        </span>
      </div>
    </div>
    <div class="vovozinha">
      <img src="assets\vovo e netinho.svg" alt="vovozinha">
    </div>
  </div>
</body>
</html>
