<div class="container">
  <h1 class="titulo">Movimento Verba Estadual</h1>

  <div class="subContainer">
    <div class="container-buttons">
      <div class="search-box">
        <button class="btn-search">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <input
          type="text"
          class="input-search"
          placeholder="Digite para pesquisar..."
        />
      </div>
      <button class="add" title="Adicionar" data-bs-toggle="modal" data-bs-target="#verbesModal">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </div>
    <table>
      <thead>
        <tr>
          <th colspan="7" class="titulo_tabela">Verba Estadual</th>
        </tr>

        <tr>
          <th>Data</th>
          <th>Descrição</th>
          <th>Entradas</th>
          <th>Saídas</th>
          <th>Saldo</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>07/01/2022</td>
          <td>SALDO ANTERIOR</td>
          <td>71.59</td>
          <td>0</td>
          <td>71.59</td>
          <td class="edit">
            <button title="Editar">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>
          <td class="delete">
            <button title="Excluir">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
          </td>
        </tr>

        <tr>
          <td>07/01/2022</td>
          <td>SALDO ANTERIOR</td>
          <td>71.59</td>
          <td>0</td>
          <td>71.59</td>
        </tr>
      </tbody>
    </table>

      <!-- Modal Verba Estadual -->
<div class="modal fade " id="verbesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastrar Movimento de Verba Estadual</h5>
      </div>
      <div class="modal-body">
          <legend>Data</legend>
        <br>
          <input type="date" class="form-control ifont" id="verbesdate" required>
        <br>
          <legend>Descrição</legend>
        <br>
        <input type="text" class="form-control ifont" id="verbesdesc" required>
        <br>
          <legend>Entradas</legend>
        <br>
        <input type="number" class="form-control ifont" id="verbesent" required>
          <br>
          <legend>Saídas</legend>
        <br>
        <input type="number" class="form-control ifont" id="verbessai" required>
        <br>
          <legend>Saldo</legend>
        <br>
        <input type="number" class="form-control ifont" id="verbessal" required>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="fechar btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="salvar btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
  </div>
</div>
