<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
</head>
<body>
  <header class="menu">
    <ul class="list">
      <li><a routerLink="cadastro" class="guia">Cadastro</a></li>
      <li>
        <a routerLink="financeiro" class="guia">Movimentação Financeira</a>
      </li>
      <li><a routerLink="visitas" class="guia">Visitas</a></li>
      <li><a routerLink="estoque" class="guia">Estoque</a></li>
      <li><a routerLink="doacoes" class="guia">Doações</a></li>
      <li><a style="right: 0px; position: fixed">Vila Vicentina</a></li>
    </ul>
  </header>
</body>
</html>

<router-outlet></router-outlet>







