<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <title>Bem-Vindos!!</title>
  </head>
  <body>
    <header>
      <ul class="list">
        <li><a routerLink="cadastro" class="center">Cadastro</a></li>
        <li>
          <a routerLink="financeiro" class="center">Movimentação Financeira</a>
        </li>
        <li><a routerLink="visitas" class="center">Visitas</a></li>
        <li><a routerLink="estoque" class="center">Estoque</a></li>
        <li><a routerLink="doacoes" class="center">Doações</a></li>
        <li><a style="right: 0px; position: fixed">Vila Vicentina</a></li>
      </ul>

    </header>
    <div class="container">
	
      <div class="row">
        
      <form class="tabela1">
        <fieldset>
          <div class="nomelinha">
          <legend>Nome</legend>
          </div>
          <br>
          <input type="text" class="form-control" name="" id="item">
          
          <br>
          <div class="valorlinha">
          <legend>Valor Doado</legend>
          </div>
          <br>
          <input type="number" class="form-control" id="quantity" name="">
          
        <br>
        <button type="button" id="insert" class="btn btn-success">Inserir</button>
      
        <button type="button" id="create" class="btn btn-success">Criar Tabela</button>
      
        <button type="button" id="list" class="btn btn-success">Atualizar</button>
        <p><small><b>Nota:</b> A tabela deve ser criada primeiro antes de algo ser inserido</small></p>
        </fieldset>
      </form>
      
      <br>
      <div class="tabela2"><br>
        <h4>Tabela</h4>
        <table class="table table-bordered table-hover" id="itemlist">
          teste
        </table>
      </div>
      
      </div>
      
      </div>
    </body>
</html>
