@charset "UTF=8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: 'poppins';
}

body{
  background-color:  #F0d3CE;
}

header{
  box-shadow: 8px 3px 10px rgba(0, 0, 105, 0.288);
  border-radius: 7px;
}

.list {
  list-style-type: none;
  overflow: hidden;
  background-color: #953C3C;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 3px
}

.list a {
  display: block;
  letter-spacing: 1px;
  color: #F0d3CE;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
}

.center::after{
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background: #F0d3CE;
  left: 0;
  bottom: 10px;
  transform: scale(0,1.5);
  transition: 0.3s;
  border-radius: 50px;
}

.center:hover::after{
  transform: scale(1,1);
}

h1{
  color: #F0d3CE;
  font-size: 20px;
  padding: 14px 16px;
}

ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #953C3C;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 3px;
    box-shadow: 8px 3px 10px rgba(0, 0, 105, 0.288);
    border-radius: 7px;
}

.container{
    color: #fff;
    background-color: #953C3C;
    padding: 100px;
    margin: 100px;
    width: 100%;
    border-radius: 20px;
    
}
.tabela2{
    width: 100%;
}
.tabela1{
    width: 100%;
    border-bottom: 1px solid #ffff;
}
.valorlinha{
  width: 100%;
  border-bottom: 1px solid #ffff;
}
.nomelinha{
  width: 100%;
  border-bottom: 1px solid #ffff;
}
